*{
  box-sizing: border-box;
  padding: 0;
}

body{
  margin: 0 auto;
}

.container{
  width: 50%;
  margin: auto;
}

 header section .top-img{
   background-color: #4ea0ff;
   background-image: url("../img/pattern.png");
   background-size: contain;
   height: 100px;
 }

 .logo-boolean{
   width: 150px;
   padding-top: 40px;
   padding-left: 10px;
 }

 section .title{
   font-size: 30px;
   font-weight: 900;
   margin-bottom: 0px;
 }

 .link-boolean{
  text-decoration: none;
 }

 .ref-boolean, .date-post{
   color: #858585;
 }

 .ref-boolean{
   font-size: 14px;
   margin-top: 0px;
 }

 .date-post{
   font-size: 10px;
 }

.tim-img{
  width: 100%;
}

.tim-1, .tim-2{
  background-size: cover;
  height: 300px;
  object-fit: cover;
}

.tim-1{
  width: 55%;
}

.tim-2{
  width: 43%;
}

.mark-yellow{
  background-color: yellow;
}

.ul-main{
  margin-left: 16px;
}

.table{
  text-align: left;
}

.tr-1{
  background-color: #20a9e5;
}

.tr-2, .tr-4{
  background-color: #b1e5f2;
}

.col-text{
  width: 50%;
}

.cel-text{
  width: 24%;
}

.bottom-img{
  display: block;
  margin-bottom: 5px;
}

.form-foot{
  width: 200px;
  height: 150px;
  margin-top: 5px;
}

.desk{
  background-image: url("../img/monitor.jpg");
  background-size: contain;
}

.graph{
  background-image: url("../img/graph.jpg");
  background-size: contain;
}

.text-bottom{
  color: white;
  font-size: 18px;
  padding-left: 10px;
  padding-top: 10px;
}

footer h3{
  font-size: 16px;
  color: #808080;
  margin-bottom: 4px;
  margin-top: 5px;
}